.ui.container.childcard-container {
  display: flex;
  flex-direction: column;

  .ui.card.childcard {
    width: 100%;
    background-color: darken(@mediummauve, 5%);
    box-shadow: none;

    .outer-content {
      padding: 0;
    }

    .header {
      color: @lightyellow;
      background-color: @darkmauve;
      padding: 10px 24px;
      border-radius: 4px;
    }

    .inner-content {
      display: flex;

      .pet-info {
        width: 20%;
        padding-bottom: 24px;
        text-align: center;
        font-weight: bold;
        background-color: @mediummauve;

        .meta {
          color: @periwinkle;
        }
        button {
          margin-top: 20px;
          background-color: @darkperi;

          &:hover {
            background-color: @periwinkle;
          }
        }
      }

      .child-stats {
        color: @lightmauve;
        width: 25%;

        h2 {
          color: @error-color;
        }

        .description {
          line-height: 0.5rem;
          padding: 25px;
        }

        .stat-bit {
          color: @lightyellow;
        }

        .error-color {
          color: @error-color;
        }

        .no-stats {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
}
